* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins 15" , sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    background: #081b29;
    color: whitesmoke;
    padding: 0 2%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: right;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 20px;
    color: gold;
    font-weight: 600;
    text-align: left;
    text-decoration: none;
    font-family: "poppins" , sans-serif;
    font-weight: 400;
    font-style: normal;
}

.profile-picture {
    border-radius: 50%;
    width: 194px;
    height: 188px;
    box-shadow: 0 4px 6px 0 black;
    transition: ease-in-out .4s;
    position: absolute;
    float: right;
    left: 75%;
    top: 37%;    
}

.pic-position {
    float: right;
}

.header a:hover { 
    color: yellow;
    text-decoration: none;
}

.navbar a {
    font-family: "jersey 15" , sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: gold;
    text-decoration: none;
    margin-left: 20px;
}

.navbar a:hover, 
.navbar a:active {
   color: yellow;
}

.About {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 8.3%;
}

.About-content {
    max-width: 600px;
}

.About-content h1 {
    font-weight: 500;
    line-height: 1.2;
    font-family: "jersey 15" , sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 70px;
}

.About-content h3 {
    font-size: 23px;
    font-weight: 700;
    color:#00abf0;
}

.About-content p {
    font-size: 16px;
    margin: 20px 0 20px;
}

/* buttons section */

.About-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex; 
    width: 115px;
    height: 90%;
    background: #00abf0;
    border: 2px solid #081b29;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: .1s;
}

.btn-box a:nth-child(1) {
    background: #00abf0;
    border: 2px solid;
    border-radius: 8px;
}
.btn-box a:nth-child(2) {
    background: #00abf0;
    border: 2px solid;
    border-radius: 8px;
}

.btn-box a:nth-child(1):hover {
    color: gold;
}

.btn-box a:nth-child(2):hover {
    color: gold;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .0.5s;
}

.btn-box a:hover::before {                      
    width: 100%;
    background: #00abf0;
}

/* github icon section */

.About-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
}

.About-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 50px;
    color: whitesmoke;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.About-sci a:hover {
    color: gold;
}

.About-sci a::before { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%; 
    z-index: -1;
    transition: .3s;
    overflow: hidden;
}

.About-sci a:hover::before {
    width: 100%;
}

/* Work Experience (title)*/

.work h2 {
    font-family: "jersey 15" , sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    font-weight: 700;
    color: gold;
    text-align: center;
    padding-bottom: 65px;
}

/* Work Experience Section*/

.work-present h3, 
.SH-key-achievements-present {
    font-size: 17px;
    font-weight: 600;
    max-width: 1400px;
    margin: 2px 0 2px;
    color: #00abf0;
    padding: 1px 140px 1px;
    background-color: #081b29;
}

.work-present h4 {
    font-size: 13px;
    font-weight: 600;
    max-width: 1400px;
    margin: 2px 0 2px;
    color: #00abf0;
    padding: 1px 140px 1px;
    background-color: #081b29;
}

.list-SH-achievements {
    font-size: 15px;
    max-width: 1400px;
    margin: 10px 0 5x;
    color: #ededed;
    padding: 5px 140px 5px;
    padding-bottom: 55px;
    background-color: #081b29; 
}

.finance-assistant h3 {
    font-size: 17px;
    font-weight: 600;
    max-width: 1400px;
    color: #00abf0;
    padding: 1px 140px 1px;
    background-color: #081b29;
}

.finance-assistant h4 {
    font-size: 13px;
    font-weight: 600;
    margin: 2px 0 2px;
    color: #00abf0;
    padding: 1px 140px 1px;
    max-width: 1400px;
    background-color: #081b29;
}

.finance-assistant-list-achievements {
    font-size: 15px;
    max-width: 1400px;
    margin: 10px 0 10px;
    color:#ededed;
    padding: 5px 140px 5px;
    padding-bottom: 45px;
}

.sparkfoundry-AM h3 {
    font-size: 17px;
    font-weight: 600;
    max-width: 1400px;
    margin: 2px 0 2px;
    color: #00abf0;
    padding: 1px 140px 1px;
    background-color: #081b29;
} 

.sparkfoundry-AM h4 { 
    font-size: 13px;
    font-weight: 600;
    margin: 2px 0 2px;
    color: #00abf0;
    padding: 1px 140px 1px;
    max-width: 1400px;
    background-color: #081b29;
}

.sparkfoundry-AM p {
    font-size: 15px;
    max-width: 1400px;
    margin: 10px 0 10px;
    color: #ededed;
    padding: 5px 140px 5px; 
}

.Key {
    padding-top: 10px;
}

.list-SF-achievements {
    font-size: 15px;
    max-width: 1400px;
    margin: 10px 0 5px;
    color: #ededed;
    padding: 5px 140px 5px;
    padding-bottom: 45px;
    background-color: #081b29;
}

.sparkfoundry-junior h3 {
    font-size: 17px;
    font-weight: 600;
    max-width: 1400px;
    margin: 2px 0 2px;
    color: #00abf0;
    padding: 1px 140px 1px;
    background-color: #081b29;
}

.sparkfoundry-junior h4 {
    font-size: 13px;
    font-weight: 600;
    margin: 2px 0 2px;
    color: #00abf0;
    padding: 1px 140px 1px;
    max-width: 1400px;
    background-color: #081b29;
}

.list-SF-achievements-junior {
    font-size: 15px;
    max-width: 1400px;
    margin: 10px 0 5px;
    color: #ededed;
    padding: 5px 140px 5px;
    padding-bottom: 45px;
}




